[submodule "ros_ws/src/ldrobot-lidar-ros2"]
	path = ros_ws/src/ldrobot-lidar-ros2
	url = git@github.com:Myzhar/ldrobot-lidar-ros2.git
[submodule "./src/ldrobot-lidar-ros2/"]
	url = git@github.com:romirk/ldrobot-lidar-ros2.git
